:root {
  --color-bluelight: #08a6e4;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-blueshadow: rgba(7, 172, 230, 0.16);
  --color-red: #fb3b64;
  --color-white: #ffffff;
  --color-grey: #aeaeae;
  --color-light-grey: #f7f7f7;
}
