:root {
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
  max-width: 100vw;


}
body {
  font-family: var(--font-open-sans);
}

.all{
  background: #F7F7F7 0 0 no-repeat padding-box;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1352px) {
    max-width: 100vw;
  }
}