.stats {
  height: 531px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.stats__title {
  margin-bottom: 101px;
  font-family: var(--font-raleway);
  font-size: 36px;
}
.stats__container {
  gap: 100px;
  display: flex;

}


.eye__color {
  background-color: var(--color-bluelight);
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 40px;

}
.person__color {
  background-color: var(--color-red);
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 15px;
}
.catalog__color {
  background-color: var(--color-green);
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 8px;
}


.stats__person {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats__eye {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stats__catalog {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;


}
.stats__img {
  z-index: 1;
  position: relative;
  left: 10px;

}
.stats__img-text {
  font-family: var(--font-raleway);
  font-size: 16px;
  color: var(--color-grey);
}
.stats__img-title {
  letter-spacing: 5.96px;
  font-family: var(--font-raleway);
  font-weight: 800;
  font-size: 20px;
}
