.contact {
  display: flex;
  align-items: center;
  justify-content: center;

}
.contact__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 370px;
  padding: 20px;
  gap: 50px;



}

.contact__content {
  display: flex;
  flex-direction: column;


}

.contact__info {
  text-align: left;
}
.contact__title {
  margin-bottom: 30px;
  font-family: var(--font-raleway);
  font-size: 49px;
}
.contact__text {
  margin-bottom: 20px;

}
.contact__data {
  display: flex;
  gap: 10px;


}

.form__row{
  margin-top: 20px;
}
.contact__form{
  max-width: 35%;
}

.form__input, .form__label {
  display: block;
  margin-right: 30px;
  border: none;
  background-color: #F7F7F7;
  border-bottom: 1px solid black;
}

.form__name, .form__email {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--font-open-sans);
  font-size: 11px;
  color: var(--color-bluelight);
  text-transform: uppercase;



}
.form__checkbox {
  font-size: 12px;
  max-width: 100%;


}

.form__checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--color-bluelight);
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;



}

.form__checkbox-input:checked {
  background-image: url(../../assets/Checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.contact__btn {
  text-transform: uppercase;
  width: 226px;
  height: 57px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  background: #08A6E4 0 0 no-repeat padding-box;
  box-shadow: 5px 10px 14px #78c1de;
  border-style: none;
  color: white;
}
.form__row-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}